{% extends "base.html" %}
{% block title %}enter{% endblock %}

{% block header %}
<h2 class="text-center">gift</h2>
{% endblock %}

{% block body %}
<p class="lead text-center">enter your gift word</p>
<form class="form-inline text-center" method="get" action="/">
    <div class="form-group">
        <label class="sr-only" for="word">word</label>
        <input type="text" class="form-control" id="word" name="word" placeholder="burn" />
    </div>
    <button type="submit" class="btn btn-primary">receive</button>
</form>
{% endblock %}
